<div class="ui-left ui-box">
    <h3 class="ui-title-h3">个人中心</h3>
    <ul class="ui-left-nav">
        <li><a href="/user/post">发表文章</a></li>
        <li><a href="/user/list">我的文章</a></li>
        <li><a href="/user/recycle">回收站</a></li>
        <li><a href="">我的评论</a></li>
        <li><a href="/user">我的资料</a></li>
    </ul>
</div>