<%- include header %>
<link rel="stylesheet" href="/css/reg.css"/>
<div id="reg-box">
    <div><label>用户名：</label><input class="text" id="username" type="text" name="name"/></div>
    <div><label>密码：</label><input class="text" id="password" type="password" name="password"/></div>
    <div><label>确认密码：</label><input class="text" id="password-repeat" type="password" name="password-repeat"/></div>
    <div><label>常用邮箱：</label><input class="text" id="email" type="email" name="email"/></div>
    <div><label>&nbsp</label><a id="btn-sub" href="javascript:;" class="btn"/>注册</a></div>
</div>
<script src="/js/reg.js"></script>
<%- include footer %>