<%- include header %>
<body>
<!--dom结构部分-->
<div id="uploader-demo">
    <!--用来存放item-->
    <div id="filePicker">选择图片</div>
    <div id="fileList" class="uploader-list"></div>
</div>
<div id="uploader-demo">
    <!--用来存放item-->
    <div id="filePicker1">选择图片</div>
    <div id="fileList1" class="uploader-list"></div>
</div>
<div id="pic"></div>
<script>
    require(['uploadpic'], function (uploadpic) {
        new uploadpic({
            pick: $('#filePicker'),   //按钮
            picList: $('#fileList'),  //列表
            onSuccess: function (response) {
                //todo 回调
            },
            onError: function (response) {
                //todo 回调
            }
        });

        new uploadpic({
            pick: $('#filePicker1'),   //按钮
            picList: $('#fileList1'),  //列表
            onSuccess: function (response) {
                //todo 回调
            },
            onError: function (response) {
                //todo 回调
            }
        });
    })
</script>

<%- include footer %>